@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*, *::after, *::before {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'SUSE', sans serif;
  font-size: 1.2rem;
  list-style: none;
}

